<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión - Angie y David</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.rawgit.com/hilios/jQuery.countdown/2.2.0/dist/jquery.countdown.min.js"></script>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: #f0f0f0;
    }

    .contenedorBody {
      top: 1%;
      width: 100%;
      max-width: 400px;
      text-align: center;
      padding: 20px;
    }

    .trivia-container {
      border: solid 1px #ff6b6b;
    }
    .countdown-container {
      background-color: #ff6b6b;
      color: white;
      border-radius: 8px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      padding: 10px;
      margin-bottom: 20px;
    }

    .countdown-text {
      margin-bottom: 10px;
    }

    .login-container {
      background-color: #f9f3f4;
      border-radius: 8px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin-bottom: 20px;
    }

    .login-container h2 {
      margin-bottom: 20px;
      color: #ff6b6b;
    }

    .login-input {
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
    }

    .login-button {
      background-color: #ff6b6b;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 10px 20px;
      cursor: pointer;
      width: 100%;
    }

    .appear-div {
      background-color: #42b983;
      color: white;
      text-align: center;
      padding: 20px;
      display: none;
    }
  </style>
</head>

<body>
  <div class="contenedorBody">
    <div class="countdown-container">
      <h3 class="countdown-text">Faltan:</h3>
      <div id="countdown"></div>
    </div>
    <div class="login-container">
      <h2>Bienvenido!!!</h2>
      <p>Muchas gracias por estar acá! Nos alegra mucho que viniste!</p>
    </div>

    <div class="appear-div">
      <h3>Mientras esperas, preparamos algo para vos y conozcas nuestra historia.</h3>
      <p><button class="login-button" role="link">Ver fotos</button></p>
      <p><button class="login-button" role="link" onclick="window.location='https://music.youtube.com/playlist?list=PL8MToOKxbwONLOGsrV_ysOfkNvLs3yPZx&jct=Al8b61kZk-11ewm58D6v06xBNsA34Q'">Añadir tema</button></p>
<h3>¿Que tanto nos conoces?</h3>
      <div class="trivia-container">
      <div class="trivia-options" id="triviaOptions">
      </div>
      <br />
      <button id="checkAnswer" class="login-button">Comprobar Respuesta</button>
      <p class="trivia-result" id="result"></p>
    </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      const transitionDiv = $('.login-container');
      const appearDiv = $('.appear-div');

      transitionDiv.animate({ top: '-10px' }, 1000, function () {
        appearDiv.fadeIn(2000);
      });

      // Configuración del contador de cuenta regresiva
      $('#countdown').countdown('2023/11/03 20:30', function(event) {
        $(this).html(event.strftime('%D días %H:%M:%S'));
      });
    });
  </script>
</body>

</html>

<script type="application/json" id="quiz-data">
    {{{trivia}}}
  </script>
<script>
    $(document).ready(function () {
      const triviaOptions = $('#triviaOptions');
      const checkAnswerButton = $('#checkAnswer');
      const resultMessage = $('#result');

      let currentQuestionIndex = 0;
      const quizDataElement = document.getElementById('quiz-data');
    const triviaData = JSON.parse(quizDataElement.textContent).trivia;

      //console.log(triviaData)


        displayQuestion(currentQuestionIndex);


      function displayQuestion(index) {
        const questionData = triviaData[index];
        triviaOptions.empty();
        
        triviaOptions.append(`<h4 class="trivia-question">${questionData.question}</h4>`);
        
        questionData.options.forEach((option, i) => {
          triviaOptions.append(`<label><input type="radio" name="answer" value="${String.fromCharCode(97 + i)}"> ${option}</label>`);
        });
      }

      checkAnswerButton.click(function () {
        const selectedAnswer = $('input[name=answer]:checked').val();
        if (selectedAnswer) {
          if (selectedAnswer === triviaData[currentQuestionIndex].correctAnswer) {
            resultMessage.text('¡Respuesta correcta!');
          } else {
            resultMessage.text('Respuesta incorrecta. La respuesta correcta era ' + triviaData[currentQuestionIndex].correctAnswer.toUpperCase());
          }

          currentQuestionIndex = (currentQuestionIndex + 1) % triviaData.length;
          displayQuestion(currentQuestionIndex);
          resultMessage.fadeOut(0).fadeIn(1000);
        } else {
          resultMessage.text('Por favor, selecciona una respuesta.');
        }
      });
    });
  </script>