<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión - Angie y David</title>
  <style>

  .contenedorBody{
    display: flex;
    flex-direction: column;
  }
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f0f0f0;
    }

    .login-container {
      background-color: #f9f3f4;
      border-radius: 8px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 100%;
      max-width: 400px;
      text-align: center;
    }

    .login-container h2 {
      margin-bottom: 20px;
      color: #ff6b6b;
    }

    .login-input {
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .login-button {
      background-color: #ff6b6b;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 10px 20px;
      cursor: pointer;
    }
  </style>
</head>

<body>
<div class="contenedorBody">
  <div class="login-container">
    <h2>Iniciar</h2>
    <p><small>Usa el email con el que confirmaste la asistencia.</small></p>
    @if(email)
      {{email}}
    @end
    
    <form action="/login" method="POST">
      <input type="email" name="email" class="login-input" placeholder="Ingrese el email " required>
      <button type="submit" class="login-button">Iniciar</button>
    </form>
  </div>
</div>
</body>
</html>